*
!aclocal.m4
!configure
!config.sub
!config.guess
!install-sh
!missing
!m4/
!Makefile.in
!setup.py.in
!voice2json.sh.in

!etc/
!download/
!requirements.txt
!scripts/
!voice2json/*.py
!VERSION
!README.md
!LICENSE
!site

!debian/control.in