*
!docker/multiarch_build/
!etc/
!download/
!requirements.txt
!install.sh
!voice2json.spec
!debian/
!mqtt/css
!mqtt/etc
!mqtt/img
!mqtt/js
!mqtt/templates
!mqtt/*.py
!mqtt/*.sh
!mqtt/requirements.txt
!mqtt/supervisord.conf