.venv/
build/
__pycache__/
download/
dist/
.doit.db*
debian/*.deb
debian/**/usr/lib/voice2json/voice2json/
debian/**/usr/lib/voice2json/build/
.ipynb_checkpoints/
recipes/train_rasa/data/
recipes/train_rasa/models/
qemu-*
fstutils/fstprint-all
fstutils/fstcount-all