/.venv/
__pycache__/
.mypy_cache/
/*.egg-info/
.doit.db

/download/

/recipes/train_rasa/data/
/recipes/train_rasa/models/
/recipes/fluent_dataset/wavs/
/recipes/fluent_dataset/results/intents.jsonl
/recipes/fluent_dataset/results/transcriptions.jsonl
/site/
/build/
/dist/
/log/
.ipynb_checkpoints/

setup.py
Makefile
voice2json.sh

/autom4te.cache/
/config.log
/config.status