.venv*/
build_*/
__pycache__/
.mypy_cache/
download/
dist_*/
.doit.db*
debian/*.deb
debian/**/usr/lib/voice2json/voice2json/
debian/**/usr/lib/voice2json/build/
.ipynb_checkpoints/
recipes/train_rasa/data/
recipes/train_rasa/models/
qemu-*
fstutils/fstprint-all
fstutils/fstcount-all
recipes/deepspeech/model/output_graph.pb
recipes/deepspeech/model/trie
recipes/deepspeech/model/lm.binary
recipes/deepspeech/model/clean-vocab.txt
nohup.out
site/
recipes/fluent_dataset/wavs/
recipes/fluent_dataset/results/intents.jsonl
recipes/fluent_dataset/results/transcriptions.jsonl
kaldi_speech.egg-info/
build/
dist/
log/