{% extends "layout.html" %}
{% block body %}

<h2>Phonemes</h2>

<form class="form" method="POST">
    <div class="form-group">
        <button class="btn btn-primary form-control" type="submit">Save</button>
    </div>

    <div class="form-group">
        <table class="table form-control">
            <thead>
                <th>Phoneme</th>
                <th>eSpeak</th>
                <th>Example Word</th>
                <th>&nbsp</th>
                <th>Pronunciation</th>
                <th>Actual</th>
                <th>Expected</th>
                <th>&nbsp</th>
            </thead>
            <tbody style="font-family: monospace;">
{% for phoneme in sorted(phoneme_map) %}
                <tr>
                    <td>{{ phoneme }}</td>
                    <td>
                        <input name="espeak_{{ phoneme }}" type="text" size="5" class="form-control" value="{{ phoneme_map.get(phoneme, '') }}">
                    </td>
                    <td>{{ phoneme_examples[phoneme]["word"] }} </td>
                    <td>
                        <audio controls src="/pronounce/{{ phoneme_examples[phoneme]['phoneme_key'] }}"></audio>
                    </td>
                    <td> {{ phoneme_examples[phoneme]["pronunciation"] }} </td>
                    <td>{{ phoneme_examples[phoneme]["actual"] }} </td>
                    <td>{{ phoneme_examples[phoneme]["expected"] }} </td>
                    <td>
                        <audio controls src="/pronounce/word_{{ phoneme_examples[phoneme]['word'] }}"></audio>
                    </td>
                </tr>
            </tbody>
{% endfor %}
        </table>
    </div>

    <div class="form-group">
        <button class="btn btn-primary form-control" type="submit">Save</button>
    </div>
</form>

{% endblock %}
