{% extends "layout.html" %}
{% block body %}

<h2>Test</h2>

<form class="form" method="POST">
<div class="form-group">
    <div class="form-row">
        <div class="col">
            <input name="sentence" type="text" class="form-control" placeholder="Sentence" value="{{ sentence }}">
        </div>
        <div class="col-3">
            <input name="recognize" type="submit" class="btn btn-info form-control" value="Recognize Text">
        </div>
    </div>
</div>
</form>

<form class="form" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <div class="form-row">
            <div class="col-auto">
                {% if recording %}
                <input name="record" type="submit" class="btn btn-danger form-control" value="Stop Recording">
                {% else %}
                <input name="record" type="submit" class="btn btn-primary form-control" value="Click to Record">
                {% endif %}
            </div>
            <div class="col">
                <input name="wavfile" type="file" class="form-control">
            </div>
            <div class="col-3">
                <input name="upload" type="submit" class="btn btn-info form-control" value="Upload WAV">
            </div>
        </div>
    </div>
</form>

{% if intent %}
<h3>Intent:</h3>
<span class="badge badge-primary">{{ pydash.get(intent, "intent.name", "NONE") }}</span>
<ul>
    {% for word, entity in words_entities %}
        {% if entity %}
    <li class="text-warning">{{ word }} <span class="badge badge-success ml-1" title="{{ entity['value'] }}">{{ entity["entity"] }}</span></li>
        {% else %}
    <li>{{ word }}</li>
        {% endif %}
    {% endfor %}
</ul>

<table class="table">
    <tr>
        <td>Spoken</td>
        <td><tt>{{ sentence }}</tt></td>
    </tr>
    <tr>
        <td>Substituted</td>
       <td><tt>{{ intent.get("text", "") }}</tt></td>
    </tr>
</table>

<h4>JSON</h4>
<textarea class="form-control" readonly="true" rows="20">{{ intent_str }}</textarea>
{% endif %}

{% endblock %}
