<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>voice2json</title>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body class="bg-dark text-white">
        <noscript>
            <strong>Please enable Javascript to continue.</strong>
        </noscript>

        <!-- Top Bar -->
        <nav class="navbar navbar-expand-sm bg-light fixed-top">
            <a href="/" title="Home">
                <img class="navbar-brand logo" src="img/voice2json.svg">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <div class="main-container">

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

            <div class="container-fluid body-container">
{% block body %}{% endblock %}
            </div>

        </div> <!-- main-container -->

        <!-- Load Javascript libraries -->
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
