{% extends "layout.html" %}
{% block body %}

<h2>Phonemes</h2>

<table class="table table-dark table-striped table-hover">
    <thead class="thead-light">
        <th>Phoneme</th>
        <th>Example Word</th>
        <th>Pronunciation</th>
    </thead>
    <tbody style="font-family: monospace;">
{% for phoneme in sorted(phoneme_examples) %}
        <tr>
            <td>{{ phoneme }}</td>
            <td>{{ phoneme_examples[phoneme][0] }} </td>
            <td> {{ phoneme_examples[phoneme][1] }} </td>
        </tr>
    </tbody>
{% endfor %}
</table>

{% endblock %}
