{% extends "layout.html" %}
{% block body %}

<h2>Sentences</h2>

<form class="form" method="POST">
    <div class="form-group">
        <button class="btn btn-primary form-control" type="submit">Save + Train</button>
    </div>

    <div class="form-group">
        <textarea id="sentences" name="sentences" class="form-control" type="text" rows="25">{{ sentences }}</textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-primary form-control" type="submit">Save + Train</button>
    </div>
</form>

{% endblock %}
