{% extends "layout.html" %}
{% block body %}

<h2>Words</h2>

<form class="form" method="POST">
    <input type="hidden" name="action" value="pronounce">
    <div class="form-row">
        <div class="col-8">
            <input name="word" id="word" type="text" class="form-control" placeholder="Word" value="{{ word }}">
        </div>
        <div class="col-2">
            <input name="guess" class="btn btn-info form-control" type="submit" value="Guess">
        </div>
    </div>
</form>

{% if len(guesses) > 0 %}
<div class="mt-2">
    <ul>
{% for guess in guesses %}
        <li>{{ guess }}</li>
{% endfor %}
    </ul>
</div>
{% endif %}

<h3 class="mt-4">Custom Words</h3>

<form class="form" method="POST">
    <input type="hidden" name="action" value="custom words">
    <div class="form-group">
        <button class="btn btn-primary form-control" type="submit">Save + Train</button>
    </div>

    <div class="form-group">
        <textarea id="custom_words" name="custom_words" class="form-control" type="text" rows="25" style="font-family: monospace;">{{ custom_words }}</textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-primary form-control" type="submit">Save + Train</button>
    </div>
</form>

{% endblock %}
